// value styles
$active_value_font_weight: bold !default;
$active_value_padding: 3px 0 !default;

// choose wheel styles
$wheel_value_padding: 6px 0 !default;
$wheel_active_font_size: 150% !default;

// buttons
$button_arrow_transition: border-color 0.2s ease-in-out !default;