$themes: (
	light: (
		// value styles
			active_value_color: darkorange,
		disabled_value_color: darkgray,
		inactive_value_color: inherit,
		// choose wheel styles
			wheel_value_border: #dddddd,
		wheel_value_shadow: darken(#dddddd, 50%),
		// buttons
			button_arrow_color: #252525,
		disabled_button_arrow_color: darkgray,
		hover_button_arrow_color: darkorange,
		// time picker
			time_picker_background_color: white,
		time_picker_color: #252525,
		time_picker_border_color: lightgray,
		// time picker input
			overlay_background_color: rgba(23, 23, 23, 0.7),
		overlay_input_region_background_color: darken(rgba(23, 23, 23, 0.1), 20%)
	),
	dark: (
		// value styles
			active_value_color: orange,
		disabled_value_color: gray,
		inactive_value_color: inherit,
		// choose wheel styles
			wheel_value_border: #dfdfdf,
		wheel_value_shadow: lighten(#dfdfdf, 30%),
		// buttons
			button_arrow_color: white,
		disabled_button_arrow_color: gray,
		hover_button_arrow_color: orange,
		// time picker
			time_picker_background_color: #252525,
		time_picker_color: #dfdfdf,
		time_picker_border: 1px solid lightgray,
		// time picker input
			overlay_background_color: rgba(23, 23, 23, 0.7),
		overlay_input_region_background_color: darken(rgba(23, 23, 23, 0.1), 20%)
	)
) !default;
