.wheel-holder {
	min-width: 30px;
}

.wheel-picker {
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
	overflow: visible;
	position: relative;
	border-radius: 2px;
	transition: background-color 0.2s ease-in-out;

	.current-value {
		width: 100%;
		position: absolute;
		height: 100%;
		z-index: 1;
		overflow: hidden;
	}

	.value {
		padding: $active_value_padding;
		letter-spacing: 1px;
		text-align: center;
		box-sizing: border-box;
		cursor: default;

		&.active {
			@include themify($themes) {
				color: themed("active_value_color");
			}

			font-weight: $active_value_font_weight;
		}

		&.inactive {
			@include themify($themes) {
				color: themed("inactive_value_color");
			}
		}

		&.disabled {
			@include themify($themes) {
				color: themed("disabled_value_color");
			}
		}
	}
}

.choose-started {

	.wheel-picker {
		width: 200%;
		margin-left: -50%;
		z-index: 10;

		.value {
			padding: $wheel_value_padding;
			border-top-width: 1px;
			border-top-style: solid;

			@include themify($themes) {
				border-top-color: themed("wheel_value_border");
			}

			&.active {
				font-size: $wheel_active_font_size;
			}
		}

		.current-value {
			border-radius: 4px;
		}

		.wheel:focus {
			outline: none;
		}
	}
}
