.wheel-holder {
	min-width: 30px;
}

.wheel-picker {
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
	overflow: visible;
	position: relative;
	border-radius: 2px;
	transition: background-color 0.2s ease-in-out;

	.wheel {
		perspective: 200px;
		touch-action: none;
	}

	.current-value {
		width: 100%;
		position: absolute;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		transition: height 0.1s ease-in, margin 0.1s ease-in;
	}

	.value {
		padding: $active_value_padding;
		letter-spacing: 1px;
		text-align: center;
		box-sizing: border-box;
		cursor: default;

		&.active {
			@include themify($themes) {
				color: themed("active_value_color");
			}

			font-weight: $active_value_font_weight;
		}

		&.inactive {
			@include themify($themes) {
				color: themed("inactive_value_color");
			}
		}

		&.disabled {
			@include themify($themes) {
				color: themed("disabled_value_color");
			}
		}
	}
}

.choose-started {

	.wheel-picker {
		width: 200%;
		margin-left: -50%;
		z-index: 10;

		.current-value {
			border-radius: 4px;
			width: 110%;
			padding-right: 3px;
		}

		.value {
			padding: $wheel_value_padding;
			border-width: 1px 1px 0;
			border-style: solid;

			@include themify($themes) {
				box-shadow: 3px 0 3px -1px themed("wheel_value_shadow");
				border-color: themed("wheel_value_border");
			}

			&.active {
				font-size: $wheel_active_font_size;
			}
		}

		.wheel:focus {
			outline: none;
		}
	}
}
