.time-picker {
	display: flex;
	align-items: center;
	justify-content: space-around;
	user-select: none;
	@include themify($themes) {
		background: themed('time_picker_background_color');
		color: themed('time_picker_color');
		border-color: themed('time_picker_border_color');
	}
	border: 1px solid;
	padding: 2px 0;

	.cell.split {
		font-weight: bold;
	}

	.current-value {
		@include themify($themes) {
			background-color: themed('time_picker_background_color');
		}
	}
}