.button {
	text-align: center;
	
	.arrow {
		border: solid white;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		margin-top: 4px;
		transition: border-color 0.2s ease-in-out;

		&.arrow.up {
			transform: rotate(-135deg);
		}
		
		&.arrow.down {
			transform: rotate(45deg);
			margin-bottom: 2.5px;
		}
	}

	&.hidden {
		visibility: hidden;
	}

	&:hover {
		cursor: pointer;
	}

	&.disabled {
		color: darkgray;
		cursor: default;

		 .arrow {
			border-color: gray;
		}
	}

	&:not( .disabled ):hover .arrow {
		border-color: orange;
	}
}
