.button {
	text-align: center;

	.arrow {
		@include themify($themes) {
			border-color: themed("button_arrow_color");
		}

		border-width: 0 2px 2px 0;
		border-style: solid;
		display: inline-block;
		padding: 3px;
		margin-top: 4px;
		transition: $button_arrow_transition;

		&.arrow.up {
			transform: rotate(-135deg);
		}

		&.arrow.down {
			transform: rotate(45deg);
			margin-bottom: 2.5px;
		}
	}

	&.hidden {
		visibility: hidden;
	}

	&:hover {
		cursor: pointer;
	}

	&.disabled {
		cursor: default;

		.arrow {
			@include themify($themes) {
				border-color: themed("disabled_button_arrow_color");
			}
		}
	}

	&:not( .disabled ):hover .arrow {
		@include themify($themes) {
			border-color: themed("hover_button_arrow_color");
		}
	}
}
