.time-picker {
	display: flex;
	align-items: center;
	justify-content: space-around;
	user-select: none;
	background: #252525;
	color: #dfdfdf;
	padding: 2px 0;
}

.time-picker .cell.split {
	font-weight: bold;
}
