{
	"extends": ["plugin:react/recommended"],

	"env": {
                "es6": true,
                "browser": true,
                "jest": true
	},

	"parserOptions": {
                "ecmaFeatures": {
                        "jsx": true,
                        "experimentalObjectRestSpread": true
                }
	},

	"rules": {
        "no-console": "error"
    }
}